<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Rust新アプリ開発</title>
    <style>
        body {
            width: 400px;
            margin: 100px auto;
        }
    </style>
</head>


<body>
    <div class="entry">
        {% for entry in entries %}
        <div>
            <div>id: {{ entry.id }}, text: {{ entry.text }}</div>
            <form action="/delete" method="post">
                <input type="hidden" name="id" value="{{ entry.id }}">
                <button>delete</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <form action="/add" method="post">
        <div>
            
            <textarea rows="10" cols="60" name="text"></textarea>
        </div>
        <div>
            <button>add</button>
        </div>
    </form>
</body>
</html>